/* new more-info large */

.humm-more-info-widget {
    &:hover {
        color: $HUMM_DARK_GRAY !important;
    }

    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid darkgray;
    font-size: 16px;
    color: $HUMM_DARK_GRAY;
    padding: 8px 24px;
    overflow: hidden;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "proxima-nova", sans-serif;
    text-align: center;
    background-color: $BACKGROUND_GRAY;
    position: relative;

    .humm-inside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        .humm-main {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            .humm-text-area {
                all: unset;

                .humm-title {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    font-size: 35px;
                    margin: 26px 10px 26px 0;
                    line-height: 120%;

                    .humm-strong {
                        font-weight: 900;
                    }
                }

                .humm-tandc {
                    all: unset;
                    display: block;
                    text-align: center;
                    font-size: 10px;
                    margin-top: -6px;
                }
            }
        }

        .humm-logo {
            all: unset;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;

            img {
                all: unset !important;
                height: 85px !important;
            }
        }
    }
}

.humm-more-info-large-slices {
    .humm-inside {
        padding-right: 100px;

        img.humm-elephant {
            all: unset;
            height: 160px !important;
            width: 273px !important;
            margin-top: -8px;
            margin-bottom: -8px;
        }

        .humm-logo {
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;

            img {
                all: unset;
                position: absolute !important;
                right: 10px !important;
                bottom: 10px !important;
                height: 65px !important;
            }
        }
    }
}

@media screen and (max-width: 665px) {
    .humm-more-info-large-slices .humm-inside {
        padding-right: 30px;

        .humm-main {
            img.humm-elephant {
                margin-left: -24px !important;
                margin-right: -24px !important;
            }

            .humm-text-area .humm-title {
                font-size: 30px;
            }
        }

        .humm-logo img {
            height: 40px !important;
        }
    }

    .humm-more-info-small {
        .humm-inside .humm-main .humm-text-area .humm-title {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    .humm-more-info-large .humm-inside {
        .humm-main .humm-text-area .humm-title {
            font-size: 28px;
        }

        .humm-logo img {
            margin-left: -20px !important;
            height: 70px !important;
        }
    }

    .humm-more-info-large-slices .humm-inside {
        .humm-main {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            img.humm-elephant {
                margin-left: auto !important;
                margin-right: auto !important;
            }

            .humm-text-area .humm-title {
                margin-top: 10px;
                margin-bottom: 32px;
                font-size: 35px;
            }
        }

        .humm-logo img {
            height: 40px !important;
        }
    }
}


/* new more-info small */

.humm-more-info-small {
    .humm-inside {
        max-width: 1200px;
        padding-right: 60px;

        .humm-main {
            .humm-text-area {
                .humm-title {
                    margin: 0;

                    & > div {
                        display: inline !important;
                    }

                    .humm-strong {
                        font-weight: 900;
                    }

                }

                .humm-tandc {
                    text-align: center;
                    font-size: 10px;
                    margin-top: 0px;
                }
            }
        }

        .humm-logo {
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            height: 50px !important;
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;

            img {
                height: 50px !important;
                position: absolute !important;
                right: 10px !important;
            }
        }
    }
}

.humm-more-info-mini {
    width: auto;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;

    img {
        height: 90px !important;
        width: 100% !important;
    }
}