/* new more-info large */

.humm-more-info-widget {
    display: flex;
    border: 1px solid darkgray;
    font-size: 16px;
    color: $HUMM_DARK_GRAY;
    padding: 8px 24px;
    overflow: hidden;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "proxima-nova", sans-serif;
    text-align: center;
    background-color: $BACKGROUND_GRAY;
    position: relative;
    //min-width: 790px;

    .inside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        .main {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: center;

            .text-area {
                .title {
                    flex: 1 1 auto;
                    font-size: 35px;
                    margin: 26px 10px 26px 0;
                    line-height: 120%;

                    .strong {
                        font-weight: 900;
                    }

                }

                .tandc {
                    text-align: center;
                    font-size: 10px;
                    margin-top: -6px;
                }
            }
        }

        .logo {
            align-self: center;

            img {
                height: 85px;
            }
        }
    }
}

.humm-more-info-large-slices {
    .inside {
        padding-right: 120px;

        .elephant {
            height: 160px;
            margin-top: -8px;
            margin-bottom: -8px;
        }

        .logo {
            flex-grow: 0;

            img {
                position: absolute;
                right: 10px;
                bottom: 10px;
                height: 65px;
            }
        }
    }
}

//@media screen and (max-width: 595px) {
//    .humm-more-info-large {
//        flex-direction: column;
//        text-align: center;
//        max-width: 450px;
//        min-width: 266px;
//        margin-left: auto;
//        margin-right: auto;
//
//        .title {
//            font-size: 40px;
//            margin-left: auto;
//            margin-right: auto;
//        }
//
//        .orange-area {
//            flex: 0 0 auto;
//            margin-bottom: 16px;
//        }
//    }
//}


/* new more-info small */

.humm-more-info-small {
    .inside {
        max-width: 1200px;
        padding-right: 60px;

        .main {

            .text-area {
                .title {
                    margin: 0;

                    & > div {
                        display: inline;
                    }

                    .strong {
                        font-weight: 900;
                    }

                }

                .tandc {
                    text-align: center;
                    font-size: 10px;
                    margin-top: 0px;
                }
            }
        }

        .logo {
            align-self: center;
            height: 50px;
            flex-grow: 0;

            img {
                height: 50px;
                position: absolute;
                right: 10px;
            }
        }
    }
}

.humm-more-info-mini {
    width: auto;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    img {
        height: 90px;
        width: 100%;
    }
}