/* new more-info large */

.humm-more-info-widget {

    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    color: white;
    padding: 0px 24px;
    overflow-y: hidden;
    overflow-x: auto;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "proxima-nova", sans-serif;
    text-align: center;
    background-color: #FF6C00;
    position: relative;
    width: 100%;
    max-height: 120px;

    .humm-big {
        padding-right: 0px;
        padding-left: 20px;
        padding: 0px 0px;
    }

    .humm-inside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        max-height: 120px;

        .humm-main {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            .humm-text-area {
                all: unset;

                .humm-title {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    font-size: 75px;
                    margin: 26px 10px 26px 0;
                    line-height: 120%;

                    .humm-strong {
                        font-weight: 700;
                    }
                    
                    .or-more {
                        font-size: 30px !important;
                        margin-top: 15px;
                    }
                }

                .humm-tandc {
                    all: unset;
                    display: block;
                    text-align: center;
                    font-size: 10px;
                    margin-top: -6px;
                }
            }
        }

        .title-text {
            min-width: 50%;
            line-height: 120%;
            margin-top: 50px;

            .tt-main {
                font-size:calc(32px + 4vw);
                font-weight: 700;
            }

            .tt-sub {
                font-size: 2.5vw;
                font-weight: 700;
            }
        }

        .title-text-big {
            min-width: 40%;
            line-height: 120%;
            margin-top: 30px;
            text-align: left;
            

            .tt-main {
                font-size:calc(10px + 2.5vw);
                font-weight: 700;
            }

            .tt-main-big {
                font-size:calc(10px + 2.5vw);
                font-weight: 700;
                position: relative;
                bottom: 5px !important;
            }

        }

        .if-text {
            margin-top: 30px;
            margin-left: 10px;
            text-align: left;
            font-size: 20px;
            line-height: 1;
            font-weight: 100;
        }

        .if-text-big {
            text-align: left;
            font-size: 20px;
            line-height: 1;
            font-weight: 100;
        }

        .getting-started {
            min-width: 15%;
            margin-top: 30px;

            .humm-tandc {
                all: unset;
                display: block;
                text-align: center;
                font-size: 10px;
                margin-top: -6px;
            }

            .title {
                text-align: center;
                background: white;
                border-radius: 40px;
                color: #FF6C00;
                padding: 10px 10px;
                font-weight: 800;
                font-size: 1.4vw;
                margin-bottom: 10%;
                
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            .if-text-mb {
                display: none;
            }
        }

        .getting-started-big {

            margin-top: 30px;
            margin-left: 40px;

            .humm-tandc {
                all: unset;
                display: block;
                text-align: center;
                font-size: 10px;
                margin-top: -6px;
            }

            .title {
                text-align: center;
                background: white;
                border-radius: 40px;
                color: #FF6C00;
                padding: 10px 5px;
                font-weight: 800;
                font-size: 1.4vw;
                margin-bottom: 10%;
                
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            .if-text-mb {
                display: none;
            }
        }

        .humm-logo {
            all: unset;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            max-width: 25%;

            img {
                all: unset !important;
                height: 150px !important;
            }
        }

        .humm-logo-big {
            all: unset;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;

            img {
                all: unset !important;
                height: 200px !important;
                position: relative !important;
                top: 12px !important;
            }
        }
    }
}

.humm-more-info-large-slices {
    .humm-inside {
        padding-right: 100px;

        img.humm-elephant {
            all: unset;
            height: 160px !important;
            width: 273px !important;
            margin-top: -8px;
            margin-bottom: -8px;
        }

        .humm-logo {
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;

            img {
                all: unset;
                position: absolute !important;
                right: 10px !important;
                bottom: 10px !important;
            }
        }

        .humm-logo.humm-nz {
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            height: 65px !important;

            img {
                height: 65px !important;
                position: absolute !important;
                right: 10px !important;
                bottom: auto !important;
            }
        }
    }
}

@media screen and (max-width: 665px) {
    .humm-more-info-large-slices .humm-inside {
        padding-right: 30px;

        .humm-main {
            img.humm-elephant {
                margin-left: -24px !important;
                margin-right: -24px !important;
            }

            .humm-text-area .humm-title {
                font-size: 30px;
            }
        }

        .humm-logo img {
            height: 40px !important;
        }
    }

    .humm-more-info-small {
        .humm-inside .humm-main .humm-text-area .humm-title {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    .humm-more-info-large .humm-inside {
        .humm-main .humm-text-area .humm-title {
            font-size: 28px;
        }

        .humm-logo img {
            margin-left: -20px !important;
            height: 70px !important;
        }
    }

    .humm-more-info-large-slices .humm-inside {
        .humm-main {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            img.humm-elephant {
                margin-left: auto !important;
                margin-right: auto !important;
            }

            .humm-text-area .humm-title {
                margin-top: 10px;
                margin-bottom: 32px;
                font-size: 35px;
            }
        }

        .humm-logo img {
            height: 40px !important;
        }
    }
}


/* new more-info small */

.humm-more-info-small {
    .humm-inside {
        max-width: 1200px;
        max-height: 120px;

        .humm-main {
            .humm-text-area {
                .humm-title {
                    margin: 0;
                    margin-top: 15px;

                    & > div {
                        display: inline !important;
                    }

                    .humm-strong {
                        font-weight: 700;
                        margin-top: 15px;
                    }

                    .humm-title-text {
                        margin-top: 15px;
                    }

                }

                .humm-tandc {
                    text-align: center;
                    font-size: 10px;
                    margin-top: 15px;
                }
            }
        }
    }
}

.humm-more-info-mini {
    display: none;
    width: auto;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;

    img {
        height: 90px !important;
        width: 100% !important;
    }
}

@media (max-width: 770px) and (min-width: 665px) {
    .title-text-big {
        .tt-main-big {
            font-size: calc(10px + 2vw) !important;
        }

        .tt-main {
            font-size: calc(10px + 2vw) !important;
        }
    }
}
@media (max-width: 665px) {
    .humm-more-info-widget {
        min-height: 280px;

        .humm-inside {
            display: initial;

            .title-text {
                text-align: left;

                .tt-main {
                    font-size: calc(32px + 10vw);
                }

                .tt-sub {
                    font-size: 8vw;
                    position: relative;
                    top: 15px !important;
                }

                br {
                    display: block !important;
                }
            }

            .title-text-big {
                br {
                    display: block !important;
                }

                .tt-main {
                    line-height: 0.7;
                    font-size: calc(10px + 8vw);
                }

                .tt-main-big {
                    top: 0px !important;
                    font-size: calc(10px + 8vw);
                }
            }

            .if-text {
                margin-left: 0px;
                display: none;
            }

            .if-text-big {
                margin-left: 0px;
                display: none;
            }

            .getting-started {
                margin-top: 30px;

                .title {
                    font-size: 4vw;
                }

                .if-text-mb {
                    display: block;
                    margin-bottom: 10px;
                    text-align: left;
                    font-weight: 100;
                    line-height: 1;
                }
            }

            .getting-started-big {
                margin-left: 0px;
                margin-top: 40px;

                .title {
                    font-size: 4vw;
                }

                .if-text-mb {
                    display: block;
                    margin-bottom: 10px;
                    text-align: left;
                    font-weight: 100;
                    line-height: 1;
                }
            }

            .humm-logo {
                img {
                    height: 150px !important;
                    margin-top: 20px !important;
                    position: relative !important;
                    left: 25px !important;
                }
            }

            .humm-logo-big {
                img {
                    height: 150px !important;
                    position: relative !important;
                    left: 25px !important;
                }
            }
        }
    }

    .getting-started {
        float: left;
    }

    .getting-started-big {
        float: left;
    }

    .humm-logo {
        float: right;
    }

    .humm-logo-big {
        float: right;
    }
}

// Don't display banner on small screens (everything breaks)
@media (max-width: 325px) {
    .humm-more-info-widget {
        display: none;
    }
}

@media (min-width: 1600px) {
    .title-text-big {
        .tt-main-big {
            font-size: calc(10px + 2vw) !important;
        }

        .tt-main {
            font-size: calc(10px + 2vw) !important;
        }
    }
}

@media (min-width: 495px) and (max-width: 664px) {

    .humm-inside {
        width: 80% !important;
    }
    .getting-started {
        margin-top: 30px !important;
        .title {
            font-size: 16px !important;
        }
    }

    .getting-started-big {
        margin-top: 30px !important;
        .title {
            font-size: 16px !important;
        }
    }

    .title-text-big {
        .tt-main {
            font-size: calc(10px + 6vw) !important;
        }

        .tt-main-big {
            font-size: calc(10px + 6vw) !important;
        }
    }

    .humm-logo {
        img {
            height: 180px !important;
        }
    }

    .humm-logo-big {
        img {
            top: 0px !important;
        }
    }

}