/** price info widget **/

.humm-price-info-widget {
    all: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px 0;
    font-family: "proxima-nova", sans-serif;
    line-height: 20px;
    color: #3d4246 !important;
    text-decoration: none !important;
    border-bottom: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    overflow: hidden;

    img.humm-widget-logo {
        all: unset;
        display: inline-block;
        margin-left: 6px;
        margin-right: 3px;
        height: 15px !important;
        float: none !important;
        width: auto;
        vertical-align: baseline;
    }

    .humm-description {
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        vertical-align: baseline;

        
        .humm-main {
            margin-right: 6px;
            white-space: nowrap;
            display: inline-block !important;
            white-space: initial;

            &.wrap {
                white-space: normal;
            }

            .humm-price {
                font-weight: 600;
                font-size: 16px !important;
                display: inline-block;
                vertical-align: baseline;
            }

            .nowrap {
                white-space: nowrap;
            }
        }

        .humm-more-info {
            display: inline-block;
            margin-top: -3px;
            text-decoration: underline;
            font-size: 0.7em;
            vertical-align: middle;
            white-space: nowrap;
            line-height: 1.23;

            &.left-pad {
                padding-left: 5px;
            }
        }
    }
}

.remodal-close {
    color: $HUMM_GRAY;
    margin-left: 5px;
    margin-top: 5px;

    &:hover {
        color: $HUMM_DARK_GRAY;
    }
}