// proxima-nova font
@import url("https://use.typekit.net/plq2clw.css");

$HUMM_ORANGE: #FF6C00;
$HUMM_GRAY: #666666;
$HUMM_LIGHT_GRAY: #999999;
$HUMM_DARK_GRAY: #333333;

.humm-modal-iframe {
    width: 100%;
    height: 500px;
    max-height: 84vh;
    border: none;
}

@media (max-width: 500px) {
    .humm-modal-iframe {
        height: 84vh;
    }
}

/** price info widget **/

.humm-price-info-widget {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    font-family: "proxima-nova", sans-serif;
    line-height: 20px;
    color: #3d4246 !important;
    text-decoration: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    overflow: hidden;

    img.humm-logo {
        display: inline-block;
        margin-right: 8px;
        height: 15px !important;
        float: none !important;
        width: auto;
        vertical-align: baseline;
    }

    .description {
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        vertical-align: baseline;
        .main {
            margin-right: 6px;
            white-space: nowrap;
            .price {
                font-weight: 600;
            }
        }
        .more-info {
            display: inline-block;
            margin-top: -3px;
            text-decoration: underline;
            font-size: 0.7em;
            vertical-align: middle;
            white-space: nowrap;
            line-height: 1.23;
        }
    }
}

/** Modal **/
div[id^="humm-modal-"] {
    padding: 0;
    max-width:660px;
}

#humm-price-info-more-modal, #humm-price-info-modal {
    padding: 0;
    max-width: 660px;
    background-color: rgba(0,0,0,0);
    .remodal-close {
        color: $HUMM_GRAY;
        &:hover {
            color: $HUMM_DARK_GRAY;
        }
    }
}


/** Banner 01 (more info large) **/

#humm-banner-01 {
    width: 100%;
    overflow: hidden;
    display: block;
    max-width: 1120px;
    margin: 0 auto;
    border: 2px solid #e2e2e2;
    max-height: 110px;
    font-family: "proxima-nova", sans-serif;
    color: #1A1C28;
    text-decoration: none;
    .logo {
        background-color: #1A1C28;
        float: left;
        width: 26%;
        height: 120px;
        padding: 0 2%;
        overflow: hidden;
        img {
            height: 100%;
            max-width: 200px;
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }
    .text {
        float: left;
        padding-left: 2%;
        padding-top: 15px;
        overflow: hidden;
        width: 45%;
        h3 {
            font-size: 30px;
            margin: 0;
            font-family: "proxima-nova", sans-serif;
            color: #1A1C28;
        }
        p {
            font-size: 16px;
            margin: 0;
        }
    }
    .button {
        width: 20%;
        overflow: hidden;
        float: left;
        .info {
            display: block;
            float: right;
            line-height: 30px;
            padding: 10px 15px;
            background-color: #e68821;
            margin-right: 15px;
            margin-top: 30px;
            color: white;
            border-radius: 2px;
        }
    }
}
@media screen and (max-width: 670px) {
    #humm-banner-01 {
        max-height: 100%;
        .logo {
            width: 100%;
            float: none;
        }
        .text {
            width: 100%;
            float: none;
        }
        .button {
            width: 100%;
            float: none;
            margin-top: 10px;
            .info {
                margin: 0 auto;
                float: right;
                margin: 0 15px 15px;
            }
        }
    }
}

#humm-banner-01:hover .info {
    background-color: #bf6e15;
}

/** Tag 01 (more info small) **/

#humm-tag-01 {
    font-family: "proxima-nova", sans-serif;
    background: #1A1C28;
    color: white;
    margin-top: 20px;
    padding: 10px;
    display: block;
    overflow: hidden;
    text-decoration:none;
    max-width: 500px;
    p {
        line-height: 30px;
        margin: 0;
        color: white !important;
        float:left;
    }
    img {
        height: 20px;
        margin-left: 5px;
        margin-top: 6px;
    }
    span {
        float: right;
        color: white;
        height: 20px;
        line-height: 20px;
        margin: 5px;
    }
}

#humm-tag-01:hover span {
    text-decoration: underline;
}


/* new more-info large */

#humm-more-info-large {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border: 1px solid darkgray;
    font-size: 16px;
    background: white;
    color: $HUMM_DARK_GRAY;
    padding: 12.5px 24px;
    overflow: hidden;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 1070px;
    .title {
        flex: 1 1 auto;
        font-family: "proxima-nova", sans-serif;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        margin: 26px 10px 26px 0;
        line-height: 135%;
        span {
            text-align: center;
            display: inline-block;
        }
    }
    .orange-area {
        flex: 0 0 176px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 176px;
        margin: 0 auto;
        img {
            width: 176px;
            height: 50px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 595px){
    #humm-more-info-large {
        flex-direction: column;
        text-align: center;
        max-width: 450px;
        min-width: 266px;
        margin-left: auto;
        margin-right: auto;
        .title {
            font-size: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        .orange-area {
            flex: 0 0 auto;
            margin-bottom: 16px;
        }
    }
}

#humm-banner-top, #humm-more-info-general {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border: 1px solid darkgray;
    font-size: 16px;
    background: white;
    color: $HUMM_DARK_GRAY;
    padding: 12px;
    overflow: hidden;
    text-decoration: none;
    box-sizing: border-box;
    .logo {
        display: flex;
        flex: 1 0 280px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-right: $HUMM_DARK_GRAY 1px solid;
        img {
            max-width: 180px;
        }
    }
    .title {
        display: flex;
        flex: 2 1 auto;
        font-family: "proxima-nova", sans-serif;
        font-weight: bold;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin: 0 0 0 20px;
        font-size: 1.56em;
        line-height: 135%;
        div {
            display: inline-block;
            vertical-align: middle;
        }
        #narrow-screen {
            display: none;
        }
        .light {
            font-family: "proxima-nova", sans-serif;
        }
    }
    .orange-area {
        display: flex;
        flex: 1 0 256px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 176px;
        margin: 0 auto;
    }
}

#humm-banner-top {
    max-width: 1147px;
    margin-left: auto;
    margin-right: auto;
    .logo {
        flex: 1 1 250px;
        img {
            max-width: 160px;
        }
    }
    .orange-area {
        flex: 1 1 200px;
        width: 176px;
    }
}

@media screen and (max-width: 1100px) {
    #humm-banner-top {
        font-size: 12px;
        .orange-area {
            flex: 1 1 200px;
            width: 176px;
        }
    }
}

@media screen and (max-width: 760px) {
    #humm-banner-top {
        .logo {
            flex: 1 1 150px;
            img {
                max-width: 110px;
                margin-right: 12px;
            }
        }
        .orange-area {
            display: none;
        }
    }
}

@media screen and (max-width: 625px) {
    #humm-banner-top {
        font-size: 10.5px;
        .title {
            margin-left: 8px;
        }
    }
}

@media screen and (min-width: 596px) and (max-width: 1196px) {
    #humm-more-info-general {
        padding: 32px;
        #wide-screen {
            display: none;
        }
        .logo {
            width: 50%;
            flex: 1 1 auto;
            img {
                max-width: 350px;
                margin-right: 32px;
            }
        }
        .placeholder {
            width: 8%;
            flex: 1 1 auto;
        }
        .title {
            display: block;
            width: 42%;
            flex: 1 1 auto;
            margin-left: 0;
            text-align: left;
            font-size: 30px;
            div {
                display: block;
                white-space: nowrap;
            }
            #narrow-screen {
                display: block;
                margin-top: 0.5em;
            }
        }
        #wide-screen {
            display: none;
        }
    }
}

@media screen and (max-width: 595px){
    #humm-more-info-general {
        padding: 32px;
        flex-direction: column;
        text-align: center;
        max-width: 595px;
        min-width: 300px;
        margin-left: auto;
        margin-right: auto;
        #wide-screen {
            display: none;
        }
        #narrow-screen {
            display: block !important;
        }
        .logo {
            flex: 0 0 auto;
            width: 100%;
            padding: 30px 0 50px;
            border-right: none;
            border-bottom: $HUMM_DARK_GRAY 1px solid;
            img {
                width: 90%;
                max-width: 390px;
            }
        }
        .title {
            display: block;
            font-size: 32px;
            margin: 3rem -15px 0;
            div {
                display: block;
                margin: 0 auto;
            }
            #narrow-screen {
                margin-top: 1em;
                margin-bottom: 0.65em;
            }
        }
    }
}

.more-info-btn {
    font-size: 16px;
    font-family: "proxima-nova", sans-serif;
    font-weight: bold;
    color: white;
    background: $HUMM_ORANGE;
    padding: 0 2em;
    border-radius: 15px;
    line-height: 225%;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}



div[id^="humm-more-info-"]:hover .more-info-btn {
    text-decoration: underline;
}

/* new more-info small */

#humm-more-info-small {
    border: 1px solid darkgray;
    font-size: 16px;
    background: white;
    color: $HUMM_DARK_GRAY;
    padding: 12.8px 24px;
    display: block;
    overflow: hidden;
    text-decoration:none;
    box-sizing: border-box;
    max-width: 1070px;
    min-width: 705px;
    p {
        font-family: "proxima-nova", sans-serif;
        font-weight: bold;
        font-size: 25px;
        line-height: 32px;
        margin: 0 5.5em 0 5em;
        text-align: center;
    }
    img.logo {
        height: 32px !important;
        width: auto !important;
        float: left;
    }
    .more-info-btn {
        float: right;
    }
}

a[data-remodal-target]{
    cursor: pointer;
}