// proxima-nova font
@import url("https://use.typekit.net/plq2clw.css");

$HUMM_ORANGE: #FF6C00;
$HUMM_GRAY: #666666;
$HUMM_LIGHT_GRAY: #999999;
$HUMM_DARK_GRAY: #333333;
$BACKGROUND_GRAY: #F8FAF7;

@import "humm-more-info-widget";
@import "humm-price-info-widget";
@import "humm-banner-top";

.remodal {
    background: transparent;
    padding: 0;
    max-width: 780px;
}

.remodal-close {
    margin-left: 95% !important;
    @media (max-width: 500px) {
        margin-left: 88% !important;
    }
}

#humm-modal-iframe,
#humm-price-info-modal,
#humm-price-info-more-modal {
    width: 100%;
    height: 500px;
    max-height: 84vh;
    border: none;
    @media (max-width: 500px) {
        height: 84vh;
    }
}

#humm-price-info-v2-modal, 
#humm-price-info-v2-black-modal {
    width: 100%;
    height: 700px;
    max-height: 84vh;
    border: none;
    @media (max-width: 500px) {
        height: 100vh;
    }  
}

#humm-price-info-myer-modal {
    width: 100%;
    height: 700px;
    max-height: 84vh;
    border: none;
    @media (max-width: 500px) {
        height: 100vh;
    }  
}

#humm-more-info-modal,
#humm-api-info-modal,
#humm-price-info-new-modal {
    width: 100%;
    height: 760px;
    max-height: 84vh;
    border: none;
    @media (max-width: 500px) {
        height: 84vh;
    }
}

a[data-remodal-target] {
    cursor: pointer;
}

.nowrap, .humm-nowrap {
    white-space: nowrap;
}

.inline-block, .humm-inline-block {
    display: inline-block;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}