// proxima-nova font
@import url("https://use.typekit.net/plq2clw.css");

$HUMM_ORANGE: #FF6C00;
$HUMM_GRAY: #666666;
$HUMM_LIGHT_GRAY: #999999;
$HUMM_DARK_GRAY: #333333;

body {
    margin: 0;
    font-size: 17px;
    color: $HUMM_GRAY;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.nowrap {
    white-space: nowrap;
}

.humm-more-info-modal {
    font-family: "proxima-nova", sans-serif;
    line-height: 1.3;
    background: white;
    overflow: visible;
    overflow-x: hidden;
    top: 5vh !important;
    margin: 0 auto;
    padding: 30px 0;

    .header {
        text-align: center;
        font-weight: 800;
        margin: 15px auto 35px;

        img {
            height: 110px;
        }
    }

    .little-big {
        padding: 19px;
        display: flex;
        justify-content: space-around;
        background-color: $HUMM_ORANGE;
        text-align: center;
        color: #FFFFFF;

        .card {
            img.icon-little {
                height: 25px;
                margin-top: 7px;
            }

            img.icon-big {
                height: 32px;
            }

            .title {
                font-weight: 700;
                font-size: 25px;
                margin: 5px 0;
            }

            .content {
                font-size: 14px;
                padding: 0 10px;
                line-height: 1.15;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.8);
                max-width: 300px;
            }
        }

    }

    .main {
        display: flex;
        justify-content: space-evenly;
        background-color: #F1F2EE;
        color: $HUMM_DARK_GRAY;
        font-size: 23px;
        font-weight: 800;
        padding: 20px 0;

        .card {
            text-align: center;
            box-sizing: border-box;
            padding: 20px 0;

            img {
                height: 60px;
                margin-bottom: 12px;
            }

            .content {
                max-width: 160px;
                margin: 0 auto;
                white-space: nowrap;
            }
        }
    }

    _:-ms-lang(x), .main { 
        justify-content: space-around;
    }

    .download {
        margin: 25px auto 20px;
        text-align: center;
        color: #000;
        font-weight: 300;
        font-size: 26px;

        img {
            height: 45px;
            margin: 22px auto 10px;

            &:first-child {
                margin-right: 20px;
            }
        }
    }

    .footer {
        margin: 10px auto;
        text-align: center;
        color: $HUMM_GRAY;

        .fine-print {
            max-width: 650px;
            margin: 0 auto;
            font-size: 8.8px;
            line-height: 1.4;

            img {
                height: 15px;
                vertical-align: bottom;
            }
        }
    }

    .modal_close {
        text-align: center;
        text-transform: uppercase;
        color: $HUMM_ORANGE;
        max-width: 200px;
        margin: 10px auto 0;
        display: block;
        padding: 10px;
    }
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.text-humm {
    color: $HUMM_ORANGE;
    font-weight: 800;
}

@media (max-width: 500px) {
    .humm-more-info-modal {

        .main {
            flex-flow: column;

            .card {
                max-width: 250px;
                margin: 10px auto;
                padding: 9px 0;
            }
        }

        .footer {
            margin-top: 20px;
            max-width: 280px;
        }
    }
}