$HUMM_ORANGE: #FF6C00;
$HUMM_GRAY: #ecedee;
$HUMM_LIGHT_GRAY: #f9f9f9;
$HUMM_DARK_GRAY: #333;

#humm-landing-content {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    margin: 0 0 10px;
  }

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px !important;
  line-height: 1.43 !important;
  color: $HUMM_DARK_GRAY;
  background-color: #FFF;

  h1, h2, h3, h4, h5, h6, .humm-title {
    letter-spacing: -0.04em;
    line-height: 1.3!important;
  }

  .humm-header-background {
    background-color: #C8BDA4;
  }

  .humm-branding-area {
    height: 600px;
    color: #FFF;
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 1600px;
    text-align: left;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat";
    font-weight: 700;

    img.humm-logo {
      all: unset;
      height: 73px !important;
    }

    img.humm-header {
      all: unset;
      max-width: 100% !important;
      position: absolute !important;
      right: 0 !important;
      bottom: 0 !important;
    }

    .humm-text {
      position: absolute;
      margin-top: 130px;
      font-size: 34px;

      .humm-title {
        font-size: 140px;
        margin-bottom: -12px;
      }
      p.humm-wide-only {
        all: unset;
        font-size: 34px !important;
        line-height: 1.35 !important;
        display: block;
      }
      p.humm-narrow-only {
        all: unset;
        font-size: 34px !important;
        line-height: 1.35 !important;
        display: none;
      }
      .humm-font-light {
        font-weight: 100 !important;
      }
    }
  }

  @media (min-width: 600px) and (max-width: 900px) {
    .humm-branding-area {
      height: 680px;
      img.humm-header {
        all: unset;
        max-width: 90% !important;
      }
      .humm-text {
        font-size: 30px;
        margin-top: 10px;
        .humm-title {
          font-size: 100px;
        }
        p.humm-wide-only {
          all: unset;
          font-size: 30px !important;
          display: block;
        }
        p.humm-narrow-only {
          all: unset;
          font-size: 30px !important;
          display: none;
        }
      }
    }
  }

  @media (max-width: 599px) {
    .humm-branding-area {
      height: 500px;
      img.humm-header {
        all: unset;
        max-width: 90% !important;
      }
      .humm-text {
        font-size: 20px;
        margin-top: 10px;
        .humm-title {
          font-size: 64px;
        }
        p.humm-wide-only {
          all: unset;
          font-size: 20px !important;
          display: none;
        }
        p.humm-narrow-only {
          all: unset;
          font-size: 20px !important;
          display: block;
        }
      }
    }
  }

  .humm-little-big {
    padding: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    color: #FFFFFF;

    .humm-card {
      img.humm-icon-little {
        all: unset;
        height: 25px !important;
        margin-top: 7px !important;
      }

      img.humm-icon-big {
        all: unset;
        height: 32px !important;
      }

      .humm-title {
        font-weight: 700;
        font-size: 25px;
        margin: 5px 0;
      }

      .humm-content {
        padding: 0 20px;
        line-height: 1.35;
        color: rgba(255, 255, 255, 0.8);
        max-width: 420px;
      }
    }
  }

  @media (max-width: 600px) {
    .humm-little-big {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 30px;
      .humm-card {
        max-width: 330px;
        img.humm-icon-little{
          all: unset;
          height: 35px !important;
          margin-top: 15px !important;
        }
        img.humm-icon-big {
          all: unset;
          height: 50px !important;
        }
        .humm-content {
          line-height: 1.5;
        }
      }
      .humm-card.humm-little-things {
        margin: 2em auto;
      }
      .humm-card.humm-big-things {
        margin: 2em auto;
      }
    }
  }

  .humm-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 20px 0;

    .humm-card {
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px 0;

      img {
        all: unset;
        height: 60px !important;
        margin-bottom: 12px !important;
      }

      .humm-title {
        max-width: 160px;
        margin: 0 auto;
        white-space: nowrap;
        font-size: 21px;
        font-weight: 800;
      }
      .humm-small {
        max-width: 11em;
        margin: 10px auto 0;
      }
    }
  }

  @media (max-width: 600px) {
    .humm-main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .humm-intro {
    margin-top: 3.3em;
    margin-bottom: 2.5em;
    h3 {
      font-family: 'Montserrat' !important;
      font-weight: 600 !important;
      font-size: 21px !important;
      margin-bottom: 25px !important;
    }
    p {
      all: unset;
      display: block;
      font-size: 16px !important;
      margin-bottom: 20px !important;
    }
  }

  .humm-q-and-a {
    margin-top: 3.3em;
    margin-bottom: 0;
    h3 {
      font-family: 'Montserrat' !important;
      font-weight: 600 !important;
      font-size: 21px !important;
      margin-bottom: 25px !important;
    }
    p {
      all: unset;
      display: block;
      font-size: 16px !important;
      margin-bottom: 50px !important;
    }
    ul {
      //all: unset;
      margin-bottom: 50px !important;
      padding-left: 1.2em !important;
    }
  }

  .humm-width-limit {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .humm-gray-bg {
    background-color: #F1F2EE;
  }

  .humm-orange-bg {
    background-color: $HUMM_ORANGE;
  }

  .humm-small-number {
    font-size: 0.6em;
    vertical-align: top;
    padding-left: 0.2em;
  }

  .humm-text-center {
    text-align: center;
  }

  .humm-center-block {
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .humm-footer {
    padding-left: 12px;
    max-width: 52em;
    margin-bottom: 2.5em;
    img {
      all: unset;
      height: 20px !important;
      vertical-align: middle !important;
    }
    .humm-fine-print {
      font-size: 9px;
      text-indent: -2.5em;
      line-height: 1.6;
    }
  }
}